.btnActive-panel:hover {
    -fx-background-color: #b3b6b7 !important;
}

.btnActive-panel:pressed {
    -fx-background-color: #979a9a !important;
}

.btnActive-panel:selected {
    -fx-background-color: #b3b6b7 !important;
}

.btnActive-green:hover {
    -fx-background-color: #1abc9c !important;
}

.btnActive-green:pressed {
    -fx-background-color: #17a589 !important;
}

.btnActive-logout:hover {
    -fx-background-color: #ecf0f1 !important;
}

.btnActive-logout:pressed {
    -fx-background-color: #d0d3d4 !important;
}

.btnActive-signup:hover {
    -fx-background-color: #f0f3f4 !important;
}

.btnActive-signup:pressed {
    -fx-background-color: #ecf0f1 !important;
}

.gradient-button {
    -fx-background-color: linear-gradient(to left, #76d7c4, #17a589) !important;
}

.gradient-button:hover {
    -fx-background-color: linear-gradient(to left, #48c9b0, #148f77) !important;
    -fx-cursor: hand;
}

.gradient-button:pressed {
    -fx-background-color: linear-gradient(to left, #1abc9c, #117864) !important;
    -fx-cursor: hand;
}

.logo-container Text {
    -fx-font-size: 2em;
    -fx-fill: #000000;
}

.transakce-container Text {
    -fx-font-family: 'Calibri Light';
    -fx-font-size: 20;
}

.HroniRohy-Pane {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 8px 8px 0 0;
    -fx-border-color: #909497;
    -fx-border-radius: 8px 8px 0 0;
}

.DolniRohy-Pane {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 0 0 8px 8px;
    -fx-border-color: #909497;
    -fx-border-radius: 0 0 8px 8px;
}

.kategorie-ComboBox {
    -fx-font-family: "Calibri Light";
    -fx-background-color: #fbfdfd;
    -fx-text-fill: #a9a9a9;
    -fx-prompt-text-fill: #888888;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 16px;
}

.kategorieMeny-ComboBox {
    -fx-font-family: "Calibri Light";
    -fx-background-color: #fbfdfd;
    -fx-text-fill: #a9a9a9;
    -fx-prompt-text-fill: #888888;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 23px;
}

.vstupniMena {
    -fx-font-family: "Calibri Light";
    -fx-background-color: #fbfdfd;
    -fx-text-fill: #a9a9a9;
    -fx-prompt-text-fill: #888888;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 23px;
}

.vystupniMena {
    -fx-font-family: "Calibri Light";
    -fx-background-color: #fbfdfd;
    -fx-text-fill: #a9a9a9;
    -fx-prompt-text-fill: #888888;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 23px;
}

.green-progress .track {
    -fx-background-color: #fbfdfd;!important;
}

.green-progress .bar {
    -fx-background-color: #117864 !important;
}